{% extends 'base.html' %}

{% block title %}
Acerca de 
{% endblock %}
    
{% block content %}
<h1>Acerca del Bar restaurante Toro Bravo Food & Drinks</h1>
<div class="paragraph-styling">
  <p class="paragraph-styling">
      Toro Bravo Food and Drinks es un bar restaurante que ofrece una experiencia gastronómica única en un ambiente acogedor y sofisticado.
    
      Nuestro menú está cuidadosamente seleccionado para deleitar a todos los paladares, desde platos exquisitos hasta cócteles artesanales preparados por nuestros talentosos mixólogos.
    
      
        En Toro Bravo, nos enorgullecemos de utilizar ingredientes frescos y locales para garantizar la calidad
       y el sabor excepcional de cada platillo y bebida que servimos.
   
      Nuestro personal altamente capacitado está listo para brindarte un servicio excepcional y una experiencia gastronómica inolvidable.

      ¡Ven y únete a nosotros en Toro Bravo Foo and Drinks para disfrutar de una experiencia gastronómica única y emocionante!
    
    </p>
  </div>

{% endblock %}
    