{% extends 'base.html' %}

{% block title %}
Terminos y Condiciones 
{% endblock %}
    
{% block content %}
<h1>Terminos y Condiciones Bar restaurante Toro Bravo Food & Drinks</h1>
<div>
  <input type="button" onclick="history.back()" name="volver" value="volver">
  <p class="paragraph-styling">
    Aceptación de los Términos y Condiciones
    Estos términos y condiciones (en adelante, "Términos") rigen el uso del software del sistema de inventario y punto de venta del Bar-Restaurante Toro Bravo Food and Drinks (en adelante, "Software"). Al utilizar el Software, aceptas cumplir con estos Términos en su totalidad. Si no estás de acuerdo con alguno de los Términos, no utilices el Software.
    
    Licencia de Uso
    Se otorga una licencia no exclusiva, no transferible y revocable para utilizar el Software únicamente para fines internos relacionados con las operaciones del Bar-Restaurante Toro Bravo Food and Drinks. No se permite la reproducción, distribución, modificación o venta del Software sin el consentimiento expreso por escrito del titular del mismo.
    
    Propiedad Intelectual
    El Software y toda la propiedad intelectual asociada, incluyendo, pero no limitado a derechos de autor, marcas comerciales y secretos comerciales, son propiedad exclusiva del titular del Software. No se otorga ninguna licencia o derecho sobre la propiedad intelectual, excepto lo expresamente estipulado en estos Términos.
    
    Responsabilidad del Usuario
    Eres responsable de mantener la confidencialidad de tus credenciales de acceso al Software y de todas las actividades realizadas a través de tu cuenta. Debes notificar de inmediato cualquier uso no autorizado de tu cuenta al Bar-Restaurante Toro Bravo Food and Drinks. No debes utilizar el Software de ninguna manera que pueda dañar, deshabilitar o perjudicar su funcionamiento o afectar negativamente a otros usuarios.
    
    
    
    Actualizaciones y Mantenimiento
    El Bar-Restaurante Toro Bravo Food and Drinks se reserva el derecho de realizar actualizaciones, mejoras o modificaciones en el Software en cualquier momento y sin previo aviso. Estas actualizaciones pueden requerir la instalación de nuevas versiones del Software.
    
    Limitación de Responsabilidad
    El Bar-Restaurante Toro Bravo Food and Drinks no será responsable por ningún daño directo, indirecto, incidental, especial o consecuente que surja del uso o la imposibilidad de uso del Software, incluso si se ha advertido sobre la posibilidad de dichos daños. En cualquier caso, la responsabilidad total del Bar-Restaurante Toro Bravo Food and Drinks estará limitada a la cantidad pagada por el Software, si corresponde.
    
    Privacidad y Protección de Datos
    El Bar-Restaurante Toro Bravo Food and Drinks se compromete a proteger tu privacidad y cumplir con las leyes y regulaciones de protección de datos aplicables. Al utilizar el Software, aceptas la recopilación, el uso y la divulgación de tus datos personales de acuerdo con la Política de Privacidad del Bar-Restaurante Toro Bravo Food and Drinks.
    
    Terminación
    El Bar-Restaurante Toro Bravo Food and Drinks puede terminar tu licencia de uso del Software en cualquier momento y por cualquier motivo sin previo aviso. En caso de terminación, debes dejar de utilizar el Software y eliminar todas las copias del mismo en tu posesión.
    
    Modificaciones de los Términos y Condiciones
    El Bar-Restaurante Toro Bravo Food and Drinks se reserva el derecho de modificar estos Términos en cualquier momento. Cualquier modificación entrará en vigencia a partir de su publicación en el sitio web del Bar-Restaurante Toro Bravo Food and Drinks. Se recomienda revisar periódicamente los Términos para estar al tanto de las actualizaciones.
    
    Legislación Aplicable
    Estos Términos se regirán e interpretarán de acuerdo con las leyes del país donde se encuentra ubicado el Bar-Restaurante Toro Bravo Food and Drinks, sin tener en cuenta sus conflictos de principios legales
    
    </p>
  </div>

{% endblock %}