{% extends 'base.html' %}
{% block title %}
Agregar Promocion 
{% endblock  %}

{% block content %}
<h1>Crear nueva promoción</h1>
<div class="form-container" >
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{form.name.label}}
            {{form.name(placeholder="Nombre")}}
            {% if form.name.errors %}
                {% for error in form.name.errors%}
                <p>{{error}}</p>
                {% endfor %}  
            {% endif %}
        </div>
        <div>
            {{form.description.label}}
            {{form.description(placeholder="Descripción")}}
            {% if form.description.errors %}
                {% for error in form.description.errors%}
                <p>{{error}}</p>
                {% endfor %}  
            {% endif %}
        </div>
        <div>
            {{form.submit(class="btn btn-success")}}
        </div>
    </form>
</div>
<a href="{{ url_for('promotion.promotions') }}" class="btn btn-warning">Regresar</a>
{% endblock %}
        